In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
dengue_ph = pd.read_csv('dataset\\dengue.csv')

In [4]:
dengue_ph

          Month  Year    Region  Dengue_Cases  Dengue_Deaths
0       January  2016  Region I           705              1
1      February  2016  Region I           374              0
2         March  2016  Region I           276              0
3         April  2016  Region I           240              2
4           May  2016  Region I           243              1
...         ...   ...       ...           ...            ...
1015     August  2020     BARMM            91              0
1016  September  2020     BARMM            16              8
1017    October  2020     BARMM            13              9
1018   November  2020     BARMM            15              1
1019   December  2020     BARMM            23              0

[1020 rows x 5 columns]

In [5]:
dengue_ph.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Month          1020 non-null   object
 1   Year           1020 non-null   int64
 2   Region         1020 non-null   object
 3   Dengue_Cases   1020 non-null   int64
 4   Dengue_Deaths  1020 non-null   int64
dtypes: int64(3), object(2)
memory usage: 40.0+ KB

In [8]:
dengue_ph['Month'] = dengue_ph['Month'].astype('category')
dengue_ph['Year'] = dengue_ph['Year'].astype('category')
dengue_ph['Region'] = dengue_ph['Region'].astype('category')

In [10]:
dengue_ph.dtypes

Month            category
Year             category
Region           category
Dengue_Cases        int64
Dengue_Deaths       int64
dtype: object

In [13]:
dengue_ph['Region'].unique()

['Region I', 'Region II', 'Region III', 'Region IV-A', 'Region IV-B', ..., 'Region XII', 'Region XIII', 'NCR', 'CAR', 'BARMM']
Length: 17
Categories (17, object): ['BARMM', 'CAR', 'NCR', 'Region I', ..., 'Region X', 'Region XI', 'Region XII', 'Region XIII']

In [18]:
R1_dengue = dengue_ph[dengue_ph['Region'] == 'Region I']

In [ ]:
month_order = ['January','February','March','April', 'May','June', 'July',
               'August', 'September', 'October', 'November', 'December']

R1_dengue['Month'] = pd.Categorical(R1_dengue['Month'], categories = month_order, ordered = True)

sns.lineplot(x = 'Month', y = 'Dengue_Cases', hue = 'Year', data = R1_dengue, marker 'o')
plt.title('Trend of Dengue Cases in Region 1 (2016-2020)')
plt.xlabel('Month')
plt.ylabel('Number of Dengue Cases')
plt.xsticks(rotation = 45, ha='right')
plt.